body{
    background-color: whitesmoke;
    

}

.TopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TahsinAhmed {
    font-family: 'Bodoni Moda', serif;
    color: teal;
    margin-left: 10%;
    font-size: 60px;
}

.bar {
    font-family: 'Bodoni Moda', serif;
    color: teal;
    font-size: 20px;
    margin-right: 20%;
    margin-top: 40px;

}

.bar span{
    margin-left: 20px;
}

.text{
    color: rgb(243, 206, 136);
    width: 100px;
    height: 100px;
    margin-left: 10%;
}

