body{
    background-color: whitesmoke;
    

}

.TopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TahsinAhmed {
    font-family: 'Bodoni Moda', serif;
    color: teal;
    margin-left: 10%;
    font-size: 60px;
}

.bar {
    font-family: 'Bodoni Moda', serif;
    color: teal;
    font-size: 20px;
    margin-right: 20%;
    /*margin-left: 50%;*/
    margin-top: 40px;

}
.bar a {
    text-decoration: none;
    color: teal;
}
.bar span{
    margin-left: 20px;
}


.box{
    height: 500px;
    width: 50%;
    
    margin-left: 10%;
    margin-top: 5%;
}

p{
    color: teal;
    font-family: 'Bodoni Moda', serif;
}

