body{
    background-color:whitesmoke;
}

.TopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.TahsinAhmed {
    font-family: 'Bodoni Moda', serif;
    color: teal;
    margin-left: 10%;
    font-size: 60px;
}*/

.bar {
    font-family: 'Bodoni Moda', serif;
    color: teal;
    font-size: 20px;
    margin-right: 20%;
    margin-top: 40px;
    margin-left: 50%;

}

.bar span{
    margin-left: 20px;
}

.box{
    background-color: white;
    height: 1000px;
    width: 1000px;
    margin-top: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.box2{
   background-color: white;
   height: 1000px;
    width: 1000px;
    margin-top :-2.5%;
    
    
}

.resizable-image {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin: -70px auto 0;
}

.resizable1-image{
    width: 100%;
    height: 40%;
    display: block;
    margin: 0 auto;
    margin: -500px auto 0;
    border-bottom: 10px solid rgb(55, 94, 55);
}

.resizable-image2 {
    max-width: 50%; 
    height: auto;
    display: block;
    /*margin: 140px auto;*/
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 10%;
    flex: 3;
}

p{
    font-size: 50px;
    color: rgb(33, 68, 24);
    margin-top: 200px;
    text-align: center;
    flex: 1;
}

.pattern{
    display: flex;
    background-color: rgb(185, 197, 182);
    margin-top: 5%;
    height: 55%;
    
}

.resizable-image3{
    max-width: 70%; 
    height: auto;
    display: block;
    margin: 60px auto;

}
.resizable-image4{
    max-width: 40%; 
    margin-left: 50%;
    transform: translate(0, -200px);
}


.resizable-image5{
    max-width: 30%; 
    margin-left: 10%;
    transform: translate(0, -500px);
}

.resizable-image6{
    max-width: 50%; 
    margin-left: 5%;

}

.resizable-image7{
    max-width: 55%;
    margin-left: 50%;
    margin-top: -47%;
    

}
.event{
    background-color: rgb(185, 197, 182);
    margin-top: 5%;
    transform: translateY(-500px);
    height: 62%;
}

h1{
    text-align:center;
    margin-top: 5%;
}

h2{
    text-align: center;
    font-size: 15px;
    
}

.text{
    height: 60px;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    
}

.b1-image1{
    height: 40%;
    margin-top: 20%;
    margin-left: 5%;


}

.b1-image2{
    height: 40%;
    margin-left: 8%;


}

.b1-image3{
    height: 40%;
    margin-left: 7%;


}

.b1-image4{
    height: 40%;
    margin-left: 22%;
    margin-top: 5%;

}

.b1-image5{
    height: 40%;
    margin-left: 7%;


}

.hr {
    height: 10px;
    background-color: green;
}

video {
    width: 640px;
    height: 360px;
    position: absolute;
    top: 387%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.slider {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.slide {
    display: none;
    width: 100%;
}

.resizable-image8,
.resizable-image9,
.resizable-image10,
.resizable-image11 {
    max-width: 70%; 
    height: auto;
    margin-left: 15%;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    margin-left: 10%;
    margin-right: 10%;
}

.arrow-left {
    left: 5px; 
}

.arrow-right {
    right: 5px;
}

.resizable-image11{
    height: 50%;
    width: auto;
    margin-left: 30%;
}

.pictogram1{
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    color: rgb(33, 68, 24);
    margin-top: -.5%;
    
}

#pictogram{
    
    margin-top: -10%;


}