body{
    background-color: whitesmoke;
    

}

.TopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.TahsinAhmed {
    font-family: 'Bodoni Moda', serif;
    color: teal;
    margin-left: 10%;
    font-size: 60px;
}*/

.bar {
    font-family: 'Bodoni Moda', serif;
    color: teal;
    font-size: 20px;
    margin-right: 20%;
    margin-top: 40px;
    margin-left: 50%;

}

.bar span{
    margin-left: 20px;
}


.box1 {
    background-color: teal;
    height: 500px;
    width: 600px;
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 18px;
    margin-top: 5%;
    margin-left:10% ;
}

