body{
    background-color: whitesmoke;
}

/*h1{
    font-family: 'Bodoni Moda', serif;
    color: teal;
    margin-left: 10%;
    font-size: 50px;
}

.TopBar{
    position: absolute;
    background-color: rgb(236, 190, 152);
   
}*/

.TopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TahsinAhmed {
    font-family: 'Bodoni Moda', serif;
    color: teal;
    margin-left: 10%;
    font-size: 60px;
}

.bar {
    font-family: 'Bodoni Moda', serif;
    color: teal;
    font-size: 20px;
    margin-right: 20%;
    margin-top: 40px;

}

.bar span{
    margin-left: 20px;
}


.container {
    position: relative;
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
}

.textbox{
    /*background: linear-gradient(rgb(186, 221, 221), whitesmoke);*/
    background: url(assets/Ahmed_Tahsin_citybrandingcopy.png);
    margin-top: 10%;
    margin-left: 40%;
    height: 100%;
    width: 40%;
}

/*textbox:hover{
    background: url(assets/Ahmed_Tahsin_citybrandingcopy.png);
    background-size: cover;
    background-size: cover;
    
}*/

.textboxIllustrations{
   /* background-image: linear-gradient(rgb(186, 221, 221), whitesmoke);*/
   background-image: url(images/l.png);
    margin-top: 10%;
    margin-left: 40%;
    height: 100%;
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
}

/*.textboxIllustrations:hover{
    background-image: url(images/l.png);
    background-size: cover;
    
}*/

.textboxCityBranding{
  /*  background-image: linear-gradient(rgb(186, 221, 221), whitesmoke);*/
  background-image: url(Ahmed_Tahsin_citybranding.png);
    margin-top: 10%;
    margin-left: 40%;
    height: 100%;
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
}

/*.textboxCityBranding:hover{
    background-image: url(Ahmed_Tahsin_citybranding.png);
    background-size: cover;
    
}*/

.textboxBookdesign{
   /* background-image: linear-gradient(rgb(186, 221, 221), whitesmoke);*/
   background-image: url(images/book2.png);
   margin-top: 10%;
    margin-left: 40%;
    height: 100%;
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
}

/*.textboxBookdesign:hover{
    background-image: url(images/book2.png);
    background-size: cover;
    
}*/

.textboxWebdesign{
    /*background-image: linear-gradient(rgb(186, 221, 221), whitesmoke);*/
    background-image: url(images/w.png);
    margin-top: 10%;
    margin-left: 40%;
    height: 100%;
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
}

/*.textboxWebdesign:hover{
    background-image: url(images/w.png);
    background-size: cover;
    
}*/

.text{
    position: absolute;
    font-family: serif;
    font-size: 20px;
    color: teal;
    margin-top: 17%;
    margin-left:30%
}

img{
    height: 300px;
    width: 40%;
    margin-top: 6%;
    margin-left: 50%;
    background-color: rgb(226, 245, 247);
    
}

a {
    text-decoration: none;
    color: inherit;
  }

  .cilck{
      font-size: 10px;
      margin-left: 40%;
  }
  

  

  